---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: downloads
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    image:
      repository: ghcr.io/onedr0p/qbittorrent
      tag: 4.5.4@sha256:f0a74313d750bc437ba2ad34f3412de5ab9a978f3f5b74227a1bda69271fef3e

    env:
      WEBUI_PORT: &port 8080

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/appName: qBittorrent
          hajimari.io/icon: "download-network"
          cert-manager.io/cluster-issuer: "zerossl-production"
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_hide_header "x-webkit-csp";
            proxy_hide_header "content-security-policy";
            proxy_hide_header "X-Frame-Options";
            proxy_set_header Accept-Encoding "";
            sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.dev/css/base/qbittorrent/organizr.css"></head>';
            sub_filter_once on;
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN_LOCAL}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: "qbit-${SECRET_DOMAIN/./-}-production-tls"

      api:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          cert-manager.io/cluster-issuer: "zerossl-production"
          hajimari.io/enable: "false"
        hosts:
          - host: *host
            paths:
              - path: /api
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: "qbit-api-${SECRET_DOMAIN/./-}-production-tls"

    metrics:
      enabled: true
      exporter:
        image:
          repository: docker.io/esanchezm/prometheus-qbittorrent-exporter
          tag: v1.2.0
      serviceMonitor:
        interval: 1m
        scrapeTimeout: 10s
      prometheusRule:
        enabled: true
      securityContext:
        seLinuxOptions:
          level: s0

    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch

    persistence:
      config:
        enabled: true
        existingClaim: qbittorrent-config
        mountPath: /config
      data:
        enabled: true
        existingClaim: truenas-data-qbit
        mountPath: /data
      media:
        enabled: true
        existingClaim: truenas-media-all
        mountPath: /media
      shared: # for the container to talk to its sidecar OPENVPN
        enabled: true
        type: emptyDir
        mountPath: /shared

    resources:
      requests:
        cpu: 100m
        memory: 400Mi
      limits:
        memory: 1Gi

    podAnnotations:
      setGateway: "true"
