---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    image:
      repository: docker.io/jellyfin/jellyfin
      tag: 10.8.10

    env:
      NVIDIA_VISIBLE_DEVICES: "all"
      NVIDIA_DRIVER_CAPABILITIES: "all"

    controller:
      strategy: Recreate

    service:
      main:
        ports:
          http:
            port: &port 8096

    probes:
      liveness: &probes
        enabled: true
        custom: true
        spec:
          httpGet:
            path: /health
            port: *port
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
      readiness: *probes
      startup:
        enabled: false
    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 30s

    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: "zerossl-production"
          hajimari.io/enable: "true"
          hajimari.io/icon: "television"
        hosts:
          - host: &host "jellyfin.${SECRET_DOMAIN_LOCAL}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: "jellyfin-${SECRET_DOMAIN/./-}-production-tls"
            hosts:
              - *host

    persistence:
      config:
        type: pvc
        size: 2G
        accessMode: ReadWriteOnce
        storageClass: freenas-iscsi-csi
        enabled: true
      movies:
        enabled: true
        existingClaim: truenas-media-movies
        mountPath: /data/movies
      tv:
        enabled: true
        existingClaim: truenas-media-tv
        mountPath: /data/tv
      transcode:
        enabled: true
        type: emptyDir

    resources:
      requests:
        cpu: 10m
        memory: 920M
      limits:
        memory: 4000M
        nvidia.com/gpu: 1

    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"

    podAnnotations:
      backup.velero.io/backup-volumes: config
