---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: downloads-gateway
  namespace: vpn
spec:
  interval: 30m
  chart:
    spec:
      chart: pod-gateway
      version: 6.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: angelnu
        namespace: flux-system

  values:
    image:
      # -- image repository of the gateway and inserted helper containers
      repository: ghcr.io/bjw-s/pod-gateway
      # -- image tag of the gateway and inserted helper containers
      # renovate: datasource=docker imageName=ghcr.io/bjw-s/pod-gateway
      tag: dev@sha256:99073d1e8b7ab71bcc47e2cfc9e5c52abd20f90304ff15428399602d21de0d13

    # -- The DNSPolicy to apply to the POD. Only when set to "None" will the
    # DNS value above apply. To avoid altering POD DNS (i.e., to allow
    # initContainers to use DNS before the VXLAN is up), set to "ClusterFirst"
    DNS: 172.16.1.1

    routed_namespaces:
      - downloads

    settings:
      # -- IPs not sent to the POD gateway but to the default K8S.
      # Multiple CIDRs can be specified using blanks as separator.
      # Example for Calico: ""172.22.0.0/16 172.24.0.0/16"
      #
      # This is needed, for example, in case your CNI does
      # not add a non-default rule for the K8S addresses (Flannel does).
      NOT_ROUTED_TO_GATEWAY_CIDRS: "10.42.0.0/16 10.43.0.0/16 192.168.0.0/16"

      # -- Vxlan ID to use
      VXLAN_ID: 42
      # -- VXLAN needs an /24 IP range not conflicting with K8S and local IP ranges
      VXLAN_IP_NETWORK: 172.16.1
      # -- Keep a range of IPs for static assignment in nat.conf
      VXLAN_GATEWAY_FIRST_DYNAMIC_IP: 20

      # -- If using a VPN, interface name created by it
      VPN_INTERFACE: wg0
      # -- Prevent non VPN traffic to leave the gateway
      VPN_BLOCK_OTHER_TRAFFIC: true
      # -- If VPN_BLOCK_OTHER_TRAFFIC is true, allow VPN traffic over this port
      VPN_TRAFFIC_PORT: "51820"
      # -- Traffic to these IPs will be sent through the K8S gateway
      VPN_LOCAL_CIDRS: "10.42.0.0/16 10.43.0.0/16 192.168.0.0/16"
      # -- DNS queries to these domains will be resolved by K8S DNS instead of
      # the default (typcally the VPN client changes it)
      DNS_LOCAL_CIDRS: "local"

    addons:
      vpn:
        # -- Enable the VPN if you want to route through a VPN.
        # You might also want to set VPN_BLOCK_OTHER_TRAFFIC to true
        # for extra safeness in case the VPN does connect
        enabled: true
        type: gluetun
        gluetun:
          image:
            repository: ghcr.io/qdm12/gluetun
            tag: v3.35.0@sha256:a98d1ec99e09a1b806aff7f0c3d8a133a8ede7d3d7a250b62029a39a61f01525

        env:
          VPN_SERVICE_PROVIDER: "mullvad"
          VPN_TYPE: "wireguard"
          VPN_INTERFACE: "wg0"
          VPN_ENDPOINT_PORT: "51820"
          UPDATER_PERIOD: "24h"
        envFrom:
          - secretRef:
              name: pod-gateway-secret

        securityContext:
          capabilities:
            add:
              - NET_ADMIN
              - SYS_MODULE

        networkPolicy:
          enabled: false

        resources:
          requests:
            cpu: 5m
            memory: 64M
          limits:
            memory: 64M

      netshoot:
        enabled: true
        resources:
          requests:
            cpu: 5m
            memory: 10M
          limits:
            memory: 10M

    podAnnotations:
      configmap.reloader.stakater.com/reload: downloads-gateway-pod-gateway
      secret.reloader.stakater.com/reload: pod-gateway-secret

    webhook:
      gatewayAnnotation: setGateway
      gatewayLabel: setGateway
      image:
        repository: ghcr.io/angelnu/gateway-admision-controller
        tag: v3.9.0@sha256:4e169da5af107a9c6c784d3e03c89da07fad45f18358ab5b7177662df12d955a
