---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_DOMAIN: "{{ bootstrap_cloudflare_domain }}"
  SECRET_DOMAIN_LOCAL: "{{ bootstrap_cloudflare_domain_local }}"
  SECRET_ACME_EMAIL: "{{ bootstrap_acme_email }}"
  SECRET_CLOUDFLARE_TUNNEL_ID: "{{ bootstrap_cloudflare_tunnel_id }}"
  TRUENAS_IP_ADDRESS: "{{ bootstrap_truenas_ip_address }}"
  PIHOLE_IP_ADDRESS: "{{ bootstrap_pihole_ip_address }}"
  CALVIN_IP_ADDRESS: "{{ bootstrap_calvin_ip_address }}"
  HOBBES_IP_ADDRESS: "{{ bootstrap_hobbes_ip_address }}"
  SUSIE_IP_ADDRESS: "{{ bootstrap_susie_ip_address }}"
  TRUENAS_API_KEY: "{{ bootstrap_truenas_api_key }}"
  ALERT_MANAGER_DISCORD_WEBHOOK: "{{ bootstrap_alert_manager_discord_webhook }}"
