---
apiVersion: v1
kind: Service
metadata:
  name: &app pihole
  namespace: networking
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
spec:
  ports:
    - name: https
      port: 443
      targetPort: 80
---
apiVersion: v1
kind: Endpoints
metadata:
  name: pihole
  namespace: networking
subsets:
  - addresses:
      - ip: "${PIHOLE_IP_ADDRESS}"
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: &app pihole
  namespace: networking
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
  annotations:
    hajimari.io/enable: "true"
    hajimari.io/appName: PiHole
    hajimari.io/icon: simple-icons:pihole
    nginx.ingress.kubernetes.io/configuration-snippet: |
        if ($uri !~ "^/admin") {
          rewrite ^/(.*)$ /admin/$1 break;
        }
spec:
  ingressClassName: nginx
  rules:
    - host: pihole.${SECRET_DOMAIN_LOCAL}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: *app
                port:
                  number: 443
  tls:
    - secretName: "pihole-${SECRET_DOMAIN/./-}-production-tls"
