---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: goldilocks
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: goldilocks
      version: 6.7.0
      sourceRef:
        kind: HelmRepository
        name: fairwinds-charts
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    vpa:
      enabled: true
    controller:
      resources:
        requests:
          cpu: 25m
          memory: 50Mi
        limits:
          memory: 200Mi
    dashboard:
      replicaCount: 1
      ingress:
        enabled: true
        ingressClassName: nginx
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/appName: Goldilocks
          hajimari.io/icon: solar:planet-2-bold
        hosts:
          - host: &host goldilocks.${SECRET_DOMAIN_LOCAL}
            paths:
              - path: /
                type: Prefix
        tls:
          - hosts:
              - *host
      resources:
        requests:
          cpu: 25m
          memory: 50Mi
        limits:
          memory: 200Mi
